.your-order {
    z-index: 90;
    position: fixed;
    height: 100%;
    width: 20%;
    top:0;
    right:0;
    background-color: #FFEA85;
}

.your-order > h1 {
    width: 100%;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 100px;
    font-family: 'Kalam', cursive;
}

.your-order > button {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 80px;
    border: none;
    font-family: 'Kalam', cursive;
    font-size: 25px;
    background: #FF6A13;
}

.your-order > button:hover {
    border: 1px solid #FF6A13;
    background: white;
    transition: 1s;
}

.your-order > table {
    width: 98%;
    margin: auto;
}

.your-order > tr, td {
    border: 1px solid black;
}

.menu-table {
    width: 80%;
}

.menu-table > h1 {
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Kalam', cursive;
}

.menu-table > table {
    margin: 50px;
    border-collapse: collapse;
}


.menu-table > tr, td {
    border: 0px solid;
    text-align: left;
    font-family: 'Kalam', cursive;
}



.menu-table > tr, td > button {
    width: 30px; height: 30px;
    cursor: pointer;
}

.menu-table > tr, td > button:hover {
    background: #FF6A13;
    transition: 0.2s;
}
