<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <link rel="stylesheet" href="css/index.html"/>
</head>
<body>
    <custom-header></custom-header>

    <main class="d-flex-col-c">
        <div class="feedbackCont">

        </div>
    </main>

    <custom-footer></custom-footer>

    <script src="js/components/header.js"></script>
    <script src="js/components/footer.js" type="text/javascript"></script>
    <script src="js/feedback.js"></script>
</body>
</html>