.login {
    width: 400px;
    background-color: #EEE;
}

#loginForm label {
    font-size: small;
    font-weight: 200;
    font-family: Outfit, sans-serif;
}

label, input {
    font-family: Outfit, sans-serif;
}

.loginPass, .loginEmail {
    width: 100%;
    padding: 12px 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: var(--border-radius);
}

.login input[type="submit"] {
    background-color: #FF6A13;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    width: 50%;
    font-size: 20px;
    font-family: Outfit, sans-serif;
    transition: 250ms ease-in-out;
}

.login input[type="submit"]:hover {
  width: 100%;
}

