
.order-main {
    width: 100%;
    margin-top: 9vw;
    
}

.order-main > table {
    table-layout: fixed ;
    width: 60%;
    margin: auto;
    border-collapse: collapse;
}

.order-main > tr, td {
    border: 1px solid #DDD;
}

.star-container{
    margin:auto;
    position: relative;
    width: 450px;
    background: #bbb;
    border: 1px solid #555;
}

.star-container .star-widget input{
  display: none;
}

.star-widget label{
  font-size: 40px;
  color: #ffffff;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}

.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
.star-widget input:checked ~ label{
  color: #fd4;
}
.star-widget input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}

.star-container .rateForm{
  display: none;
}
input:checked ~ .rateForm{
  display: block;
}

textarea{
    font-family: Outfit, sans-serif;
    border: 1px solid #ccc;
    height: 200px;
    width: 300px;
    outline: none;
    color: #333;
    background: white;
    padding: 12px;
    resize: none;
    transition: 250ms;
}

textarea:focus{
    border: 1px solid #333;
}

#submit {
    font-family: Outfit, sans-serif;
    outline: none;
    border: none;
    width: 120px;
    height: 45px;
    background-color: #FF6A13;
    color: white;
    transition: 250ms ease-in-out;
}

#submit:hover {
    width: 300px;
}


